@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: Outfit;
}
  
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar{
    display: none;
}


.slick-dots {
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap; /* Permite que las miniaturas se ajusten en varias filas si es necesario */
    margin-top: 20px;
  }
  
  .slick-dots li {
    width: auto !important;
  }
@media (min-width: 768px) {
  .slick-dots li img {
    width: 10rem; /* Cambiar a 10rem en pantallas más grandes */
    height: 5rem;
  }
}

/* Estilo para pantallas grandes (por ejemplo, escritorios) */
@media (min-width: 1024px) {
  .slick-dots li img {
    width: 12rem; /* Cambiar a 12rem en pantallas grandes */
    height: 5rem;
  }
}
  
  